@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fonts/Gilroy-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Semibold';
  src: url('../fonts/Gilroy-Semibold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Black';
  src: url('../fonts/Gilroy-Black.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}