body{
  font-family: 'Gilroy-Regular';
  color: #141414;
}

.container{
  max-width: 345px;
  padding: 0 5px;
  margin: 0 auto;
}

.main{
  max-width: 375px;
  margin: 0 auto;
}

.title-30{
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 30px;
  line-height: 100%;
}

.title-36{
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 36px;
  line-height: 100%;
}