<div class="drop-down-menu">
  <ul class="drop-down-menu__list">
    <li class="drop-down-menu__item">
      <a class="drop-down-menu__link" href="#">
        О нас
      </a>
    </li>
    <li class="drop-down-menu__item">
      <a class="drop-down-menu__link" href="#">
        Каталог
      </a>
    </li>
    <li class="drop-down-menu__item">
      <a class="drop-down-menu__link" href="#">
        Доставка
      </a>
    </li>
    <li class="drop-down-menu__item">
      <a class="drop-down-menu__link" href="#">
        Партнерство
      </a>
    </li>
    <li class="drop-down-menu__item">
      <a class="drop-down-menu__link" href="#">
        Обратная связь
      </a>
    </li>
  </ul>
</div>