 <footer class="footer">
   <div class="footer__inner">
    <picture>
      <source srcset="images/footer-logo.avif" type="image/avif">
      <source srcset="images/footer-logo.webp" type="image/webp">
      <img class="footer__img" src="images/footer-logo.png" alt="Логотип">
    </picture>
    <ul class="footer__list">
      <li class="footer__item">
        <a class="footer__item-link" href="#">О нас</a>
      </li>
      <li class="footer__item">
        <a class="footer__item-link" href="#">Где купить</a>
      </li>
      <li class="footer__item">
        <a class="footer__item-link" href="#">Доставка</a>
      </li>
      <li class="footer__item">
        <a class="footer__item-link" href="#">Каталог</a>
      </li>
      <li class="footer__item">
        <a class="footer__item-link" href="#">Партнерство</a>
      </li>
      <li class="footer__item">
        <a class="footer__item-link" href="#">Обратная связь</a>
      </li>
    </ul>
    <ul class="footer__form">
      <li class="footer__form-item">
        <p class="footer__form-text">
          E-mail
        </p>
        <a class="footer__form-link footer__form-link-email" href="email:dogs_care@froman.pro">
          dogs_care@froman.pro
        </a>
      </li>
      <li class="footer__form-item">
        <p class="footer__form-text">
          Телефон: 
        </p>
        <a class="footer__form-link footer__form-link-phone" href="tel:88003025442">
          8 (800) 302 54 42
        </a>
      </li>
    </ul>
    <a class="footer__privacy" href="#">
      Политика конфиденциальности
    </a>
    <a class="footer__offer" href="#">
      Договор оферты
    </a>
    <ul class="footer__social">
      <li class="Footer__social-item">
        <a class="footer__social-link" href="#">
          <img class="footer__social-img" src="images/telegram.svg" alt="Иконка Телеграм">
        </a>
      </li>
      <li class="Footer__social-item">
        <a class="footer__social-link" href="#">
          <img class="footer__social-img" src="images/vk.svg" alt="Иконка ВК">
        </a>
      </li>
      <li class="Footer__social-item">
        <a class="footer__social-link" href="#">
          <img class="footer__social-img" src="images/yotube.svg" alt="Иконка Ютуб">
        </a>
      </li>
    </ul>
    <p class="footer__copy">
      © 2003-2025 Froman.pro
    </p>
   </div>
 </footer>


<script src="js/main.min.js"></script>
</body>

</html>