<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <header class="header">
    <div class="header__inner">
      <a class="header__logo-link" href="#">
        <img class="header__logo-img" src="images/logo.svg" alt="Логотип">
      </a>
      <div class="header__box">
        <a class="header__cart" href="#">
          <img class="header__cart-img" src="images/cart.svg" alt="Корзина">
          <span class="header__cart-num">3</span>
        </a>
        <button class="header__burger-menu">
          <img class="header__burger-menu-img" src="images/burger-menu.svg" alt="Бургер меню">
        </button>
      </div>
    </div>
  </header>